.form{
    margin: 0 auto;
    width: 280px;
    padding: 15px;
    margin-top: 30vh;
    border: 1px solid #000;

    &-field{
        width: 100%;
        margin-bottom: 8px;
    }

    &-btn{
        display: block;
        margin-left: auto;
    }

    &-incorrect{
        border-color: red;
    }
}