.container{
    width: 1200px;
    margin: 0 auto;
}

.main_header{
    background-color: lightgray;

    
}

.header_cart_info-wrapper{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cart{
    visibility: hidden;

    &-info_field{
        text-align: right;
        margin-left: auto;
        margin-right: 25px;
    }

    &-open_btn{
        padding: 2px 10px;
        font-size: 1.25rem;
    }

    &-title{
        background-color:  rgb(185, 185, 185);
        font-size: 2rem;
        padding: 5px 10px;;
    }

    &-total_price{
        text-align: right;
        background-color: rgb(185, 185, 185);
        font-size: 1.5rem;
        padding: 5px 10px;;
        padding-right: 50px;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;

    .product_item{
        padding: 10px;
        width: 14%;
        margin: 1%;
        border: 1px solid darkgray;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 0.25rem;
        }

        &-price{
            text-align: center;
            margin-bottom: 0.5rem;
        }

        &-button{
            padding: 2px 6px;
            align-self: flex-end;
        }
    }
}

.cart_item{
    font-size: 1.15rem;
    padding: 5px 10px;

    &-title{
        width:  400px;
        display: inline-block;
        overflow: hidden;
    }

    &-price{
        width:  120px;
        display: inline-block;
        margin-right: 150px;
    }

    &-count{
        width:  30px;
        text-align: center;
        display: inline-block;
    }

    &-total_price{
        margin-left: 150px;
        width:  200px;
        display: inline-block;
    }

    &-button{
        width: 20px;
        height: 20px;
    }

    &:nth-child(even){
        background-color: rgb(230, 230, 230);
    }

    &:nth-child(odd){
        background-color: rgb(210, 210, 210);
    }
}